body {
    margin: 1px;
    font-size: 36px;
    background-color: black;

}

  

  .centretext {
    font-size:24px;
    color:white;
    width:200px;
    text-align: center;
    position:fixed;
    top:50%;
    left:50%;
    margin-left:-100px;
    z-index: 999;
  }
  
  
  

  .onlinebutton:hover {
    text-decoration: underline;
  }

  .offlinebutton:hover {
    text-decoration: underline;
  }


  

  body {
    margin:0;
  }
  
  div.backgroundvideo1 {
    background-color: rgb(0, 0, 0);
    height:100vh;
    width:100vw;
    position: fixed;
    top:0;
    left:0;
    opacity: 0;
  }

  div.backgroundvideo1.active {
    opacity: 1;
  }
  
  /*   background-size:contain; */
  
  img {
    width:100%;
  }
  
  video {
    width:100%;
  }
  
  div.backgroundvideo2 video {
    width:100%;
    height:100%;
    object-fit:cover;
  }
  
  div.backgroundvideo2 {
    background-color: rgb(0, 0, 0);
    height:100vh;
    width:100vw;
    position: fixed;
    top:0;
    left:0;   
    opacity: 0; 
  }

  div.backgroundvideo2.active {
    opacity: 1;
  }
  
  /*   background-size:contain; */
  
  img {
    width:100%;
  }
  
  video {
    width:100%;
  }
  
  div.backgroundvideo2 video {
    width:100%;
    height:100%;
    object-fit:cover;
  }

  .asterisk-link {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 30px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    transition: font-size 0.5s ease;
  }
  
  .asterisk-link:hover {
    text-decoration: none;
    font-size: 150px;
    color: red;
  }
  
  