body {
    margin: 1px;
    font-size: 36px;
    background-color: black;

}

  
.onlinetext {

    position: fixed;
    top: 400px ;
    left: 650px ;
    font-size: 20px;
    color: white ;
  }

  .offlinetext {

    position: fixed;
    top: 400px ;
    right: 670px ;
    font-size: 20px;
    color: white ;
  }

  .offlinetext:hover {
    text-decoration: underline;
  }

  .onlinetext:hover {
    text-decoration: underline;
  }

  body {
    margin:0;
  }
  
  div.backgroundvideo1 {
    background-color: rgb(0, 0, 0);
    height:100vh;
    width:100vw;
  }
  
  /*   background-size:contain; */
  
  img {
    width:100%;
  }
  
  video {
    width:100%;
  }
  
  div.backgroundvideo1 video {
    width:100%;
    height:100%;
    object-fit:cover;
  }
  