body {
  margin: 1px;
  font-size: 36px;
  background-color: black;
}

.image-container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-top: -100px; /* Move all images 100 pixels up */
}

.image-container img {
  width: 100%;
  transition: filter 0.5s, transform 0.9s;
}

.image-container:hover {
  filter: grayscale(0%);
  transform: scale(1.8);
}

div.image1 {
  margin-top: 500px; /* Adjust the value as needed */
}

div.imagesun {
  margin-top: 60px; /* Adjust the value as needed */
}

div.scaleg {
  transform: scale(1.4);
}

div.grasscaley {
  transform: scale(0.9);
}

div.oceans {
  transform: scale(0.8);
  margin-top: 190px; /* Adjust the value as needed */
}

div.image2 {
  margin-top: 160px; /* Adjust the value as needed */
}

div.image3 {
  margin-top: 320px; /* Adjust the value as needed */
}

div.image9 {
  margin-top: 0; /* Adjust the value as needed */
}

div.image8 {
  margin-top: 450px; /* Adjust the value as needed */
}

div.image5 {
  margin-top: 400px; /* Adjust the value as needed */
}

div.topmargin {
  margin-top: 0; /* Adjust the value as needed */
}

div.bottommargin1 {
  margin-top: 310px; /* Adjust the value as needed */
}
