* {
  margin: 0;
  padding: 0;
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-style: medium;
}

.header {
  background-color: #052fff;
  height: 50px;
  display: flex;
  font-family: "Neue Haas Grotesk Display Pro",
  font-weight: 300;
  font-size: 45px;
  justify-content: space-between; 
  align-items: center; 
}

.header h1 {
  font-size: 20px;
  color: white;
}

.header h1:first-child {
  margin-left: 10px;
}

.header h1:last-child {
  margin-right: 10px;
}

.title {
  margin-top: 50px;
  text-align: left;
  color: #052fff;
}

.title h2 {
  font-size: 80px;
  font-family: 'magic';
  font-weight: normal;
  line-height: 80px;
  margin-left: 10px;
}

.title h3 {
  font-size: 80px;
  font-family: 'magic';
  font-weight: normal;
  line-height: 80px;
  margin-left: 80px;
}

.title h4 {
  font-size: 80px;
  font-family: 'magic';
  font-weight: normal;
  line-height: 80px;
  margin-left: 40px;
}

.title h5 {
  font-size: 80px;
  font-family: 'magic';
  font-weight: normal;
  line-height: 80px;
}

.line {
  border-top: 1px solid black;
  margin-top: 30px;
}



.author {
  margin-left: 10px;
  margin-top: 40px;
  font-family:" Neue Haas Grotesk Display Pro", sans-serif;
  font-style: medium;
  text-align: left;
  font-weight: 500;



}


.author span:last-child {
  font-style: italic;
}

.author span {
  display: block;
  font-size: 18px;
  line-height: 0.5;
}




.space {
  height: 20px;
}

.hello {
  font-family: 'magic';
  font-size: 72px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #052fff;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: #052fff
}


  .paraspot p {
    font-family: 'curly';
    font-weight: 500;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 40px
  }




.column {
  width: calc(50% - 20px);
}

.left-column {
  margin-right: 20px;
  margin-left: 10px;
}

.right-column {
  margin-left: 20px;
}

.dark-blue {
  color: #1a1a2e;
}


.line2 {
  border: none;
  border-top: 1px solid #000;
  margin-top: 30px;
  margin-bottom: 50px;
}



.bottom-paragraph p {
    font-family: 'curly';
    font-weight: 500;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.5;
  margin-bottom: 50px;
}

.footer {
  background-color: #052fff;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-family: 'arno';
  font-size: 10px;
}

.footer p {
  color: white;
  font-family: 'arno';
  font-size: 18px;
  margin: 0;
  padding: 0 15px;
  font-style: italic;
}




@font-face {
  font-family:'magic';
  src: url('custom-font/dematerialized.otf');

}

@font-face {
  font-family: 'curly';
  src: url('custom-font/NimbusRomNo9L-Reg.otf')
}

@font-face {
  font-family: 'arno';
  src: url('custom-font/ArnoPro-Italic.otf')
}

